*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: linear-gradient(to left, #a34f8b 0%, #3264bb 100%);
    color: #fff;
    border-radius: 20px;   
    font-size: 18px;
    font-weight: 500;   
    transition: all 0.3 s ease;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2) ;
}

button:hover{
    transform: scale(0.70);
}
